h1 {
    padding-left: 10px;
}

p {
    font-family: "Rubik", sans-serif;
    font-size: large;
    font-weight: 400;
    color: #212529;
    text-align: left;
    padding-left: 10px;
    padding-top: 0px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}