<h1>Proyecto</h1>

<p>
El proyecto EASIER (Más fácil) lo desarrolla el grupo de investigación <a href="http://hulat.inf.uc3m.es/">Human Language and Accessibility Technologies (HULAT)</a> del departamento de Informática de la Universidad Carlos III de Madrid (UC3M). El proyecto cuenta con la financiación de la empresa Indra y la Fundación Universia. El proyecto fue seleccionado como uno de los premiados en la <a href="https://www.tecnologiasaccesibles.com/es">“Convocatoria 2019 de ayuda a proyectos de investigación en Tecnologías accesibles Indra-Fundación Universia”.</a> 
</p>
<p>
El objetivo del proyecto es desarrollar soluciones tecnológicas que favorezcan el acceso a los contenidos web a las personas con discapacidad intelectual de manera específica, y a todas las personas en general. 
</p>
<p>
Para ello, se ofrece un sistema web que favorece la accesibilidad cognitiva y proporciona diversas herramientas con recursos del lenguaje. La web está diseñada optimizando características de accesibilidad cognitiva siguiendo pautas de lectura fácil, lenguaje llano así como con las <a href="https://www.w3.org/TR/WCAG21/">WCAG 2.1 (Nivel AA)</a> para que sea accesible a todas las personas, incluyendo aquellas con discapacidad.
</p>
<p>
A este sistema web se puede acceder desde el ordenador o móvil. A partir de un texto en español introducido por el usuario, se detectan palabras complejas y se ofrecen sinónimos, definición y pictograma por cada palabra compleja detectada. Además, se ofrece una extensión para el navegador (Chrome y Firefox) que detecta las palabras complejas ofreciendo un sinónimo.
</p>
<p>
La detección de palabras complejas, el proporcionar sinónimos y definiciones se realiza utilizando métodos de Inteligencia Artificial como los del Procesamiento de Lenguaje Natural siguiendo un proceso sistemático. 
</p>
<p>
Para las definiciones, se proporciona definición en lectura fácil o del diccionario de la Real Academia de la Lengua (RAE). Las definiciones de lectura fácil se obtienen del <a href="http://www.diccionariofacil.org/">“Diccionario fácil”</a> gracias a la colaboración con <a href="https://plenainclusionmadrid.org/">Plena Inclusión Madrid</a>. Para proporcionar pictogramas, se utiliza los recursos ofrecidos por <a href="http://www.arasaac.org/">ARASAAC</a>.
</p>

<div class="images">
    <img src="../../../assets/dic-facil.png" alt="Diccionario fácil">
    <img src="../../../assets/arasaac.png" alt="Arasaac">
</div>
<h2>Noticias:</h2>
    <ul>
        <li><a href="https://www.uc3m.es/ss/Satellite/UC3MInstitucional/es/Detalle/Comunicacion_C/1371260689393/1371216052687/Dos_proyectos_de_la_UC3M,_ganadores_de_una_ayuda_a_tecnologias_accesibles_de_Indra_y_Fundacio">Dos proyectos de la UC3M, ganadores de una ayuda a tecnologías accesibles de Indra y Fundación Universia</a> (UC3M, dic 2018)</li>
        <li><a href="https://www.europapress.es/epsocial/responsables/noticia-indra-fundacion-universia-eligen-proyectos-investigacion-ganadores-ayudas-tecnologias-accesibles-20181203143614.html">Indra y Fundación Universia eligen los proyectos de investigación ganadores de sus ayudas a tecnologías accesibles</a> (UC3M, dic 2018)</li>
    </ul>
